body {
background-color: rgb(245, 225, 244);
color:rgb(46, 2, 31); 
font-family: "Bebas Neue", sans-serif;
display: flex;
justify-content: center;
align-items:cemter;
height: 700px;
margin: 0;
}

button{

    background-color:rgb(253, 231, 241);
    color:black;
    font-family: "Bebas Neue", sans-serif;





}




















