body {
background-color: rgb(245, 225, 244);
color:rgb(226, 17, 156); 
font-family: "Bebas Neue", sans-serif;
display: flex;
justify-content: center;
align-items:cemter;
height: 700px;
margin: 0;
}

button{

    background-color:antiquewhite;
    color:black;
    font-family: "Bebas Neue", sans-serif;





}




















